<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>databaseServlet</servlet-name>
        <servlet-class>com.servlets.DatabaseConnectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>databaseServlet</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
</web-app>